@import url(../home/home.page.scss);
@import url(../task/task.page.scss);
/* Complete Popup Module */
.checkbox-NA-PLOS ion-list {
  background: transparent;
}
.checkbox-NA-PLOS ion-list ion-item {
  background: transparent;
--background: transparent;
--border-style: none;
}
.signatureCanvas canvas {
  background: #d0cece;
  border: none;
  width: 100%;
}
.signatureCanvas .signatureBtn {
  display: flex;
  justify-content: space-between;
}
.signatureCanvas .signatureBtn ion-button {
  --background: #EF874E;
  --ion-color-base: #EF874E !important;
  color: white;
  font-size: 14px;
  width: 44%;
}
.signatureBtn , .checkbox-NA-PLOS , .saveBtn {
  margin: 0 0.5rem !important;
}
ion-header {
  font-size: 24px;
  padding: 0.8rem;
}
