<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" menuId="outMenue" type="overlay" side="start"  >
            <ion-header class="menu-content">
            	<ion-title>Menu</ion-title>
            </ion-header>
            <ion-content class="menuContent-sidebar">
                <ion-list>
                    <ion-menu-toggle auto-hide="false" *ngFor="let pages of appWithoutLogInPage; let i = index">
                        <ion-item routerDirection="root" [routerLink]="[pages.url]" routerLinkActive="selected">
                    		<ion-icon name="{{pages.icon}}"></ion-icon>
                        	<ion-label>{{ pages.title }}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-menu contentId="main-content" menuId="inMenue" type="overlay" side="start"  >
            <ion-header class="menu-content">
            	<ion-title>Menu</ion-title>
            </ion-header>
            <ion-content class="menuContent-sidebar">
                <ion-list>
                   <ion-item *ngFor="let pages of appWithLoginPage; let i = index">
                    	<ion-icon name="{{pages.icon}}"></ion-icon>
                        <ion-label [routerLink]="[pages.url]">{{ pages.title }}</ion-label>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
