<ion-header [translucent]="true">
    <div class="menu-header" id="main-content">
        <ion-buttons slot="start">
      		<ion-button class="menueButtonClass" (click)="functionOpenMenue()"><ion-icon name="menu-outline" class="iconMenu"></ion-icon></ion-button>
        </ion-buttons>
    </div>
    <div class="logo">
        <ion-title>
            Tickets
        </ion-title>
    </div>
</ion-header>





<ion-content [fullscreen]="true">
<div id="map" style="height:35%;"></div>
<div id="mapContent">
  <div class="mapKmTimeContent">
    <ion-text><h1>Total Km :  35.00km </h1></ion-text>
    <ion-text><h1>Total Time : 1 Hours</h1></ion-text>
  </div>
</div>
<!-- Start Postion And Sort Section-->
<div class="startPostion-Sort">
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <div class="startPostion">
          <ion-searchbar placeholder="Start Position" class="custom">
            <ion-button><ion-icon name="locate-outline"></ion-icon></ion-button>
          </ion-searchbar>
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="sortSelect">
            <ion-list>
              <ion-item>
                <ion-icon name="filter-outline"></ion-icon>
                <ion-select interface="popover" placeholder="Sort" class="sortingSelect">
                  <ion-select-option value="distance">Distance</ion-select-option>
                  <ion-select-option value="time">Time</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </div>
          </ion-col>
</ion-row>
</ion-grid>
</div>






<!-- Start Edit Activities Content -->
<ion-reorder-group  (ionItemReorder)="doReorder($event)" disabled="false">

<!-- Start Stock Section -->
<div [routerLink]="['/stock']" class="stockListContent">
  <div class="stockHeadingContent">
          <div class="stockHeadingInfo">
          <ion-icon name="cube-outline"></ion-icon>
          <div class="activitiesTitleInfo">
            <ion-text>Stock Name</ion-text>
          </div>
        </div>
          <div class="moveDragDrop">
            <ion-reorder slot="end"><ion-icon name="move-outline"></ion-icon></ion-reorder>
          </div>
  </div>

  <div class="activitiesListInfo">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="activitiesList">
            <ion-list>
              <ion-item>
                <div class="activities-Location">
                <ion-icon class="location" name="location-outline"></ion-icon>
                <ion-text>Dummyrstraße 66, 13055 Berlin</ion-text>
              </div>
              </ion-item>
              <ion-item>
                    <div class="activities-CallInfo">
                      <ion-icon name="call-outline"></ion-icon>
                      <ion-text>+0123456789</ion-text>

                    </div>
              </ion-item>
            </ion-list>
          </div>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>


</div>
<!-- End Stock Section-->











<div class="activitiesListContent">

  <div class="activitiesHeadingInfo">
    <ion-grid>
      <ion-row>
        <ion-col size="1" id="activitiesLocation">
          <div class="activitiesLocation">
            <div class="imgLocation">
              <img src="../../assets/images/location.png"/>
              <div class="textLocation">
                <ion-text><h1>A</h1></ion-text>
              </div>
            </div>
          </div>
        </ion-col>
        <ion-col size="8" id="activitiesTitleInfo">
          <div class="activitiesTitleInfo">
            <ion-text><h1>Service Name</h1></ion-text>
            <ion-text><span>Service ID</span></ion-text>
          </div>
        </ion-col>
        <ion-col size="3">
          <div class="activitiesStatusList">
            <ion-text class="close">Close</ion-text>
            <div class="priority">
              <ion-icon name="stats-chart-outline"></ion-icon>
              <ion-text>High </ion-text>
            </div>
          </div>
        </ion-col>
      </ion-row>
      </ion-grid>
  </div>
  <div class="activitiesListInfo">
    <ion-grid>
      <ion-row>
        <ion-col size="9">
          <div class="activitiesList">
            <ion-list>
              <ion-item>
                <div class="activities-ComapnyName">
                  <ion-icon name="home-outline"></ion-icon>
                  <ion-text> Customer Name </ion-text>
                </div>
              </ion-item>
              <ion-item>
                <div class="activities-Location">
                <ion-icon class="location" name="location-outline"></ion-icon>
                <ion-text>Dummyrstraße 66, 13055 Berlin</ion-text>
              </div>
              </ion-item>
              <ion-item>
                <div class="activities-PersonInfo">
                    <div class="activities-PersonName">
                      <ion-icon name="person-circle-outline"></ion-icon>
                      <ion-text>Contact Name</ion-text>
                    </div>
                    <div class="activities-CallInfo">
                      <ion-icon name="call-outline"></ion-icon>
                      <ion-text>+0123456789</ion-text>
                    </div>
              </div>
              </ion-item>
              <ion-item>
                <div class="timingInfo">
                      <div class="timing">
                        <ion-icon name="time-outline"></ion-icon>
                        <ion-text><h2>9:00 - 10:00</h2></ion-text>
                      </div>
                      <div class="totalTiming">
                        <ion-icon name="time-outline"></ion-icon>
                        <ion-text><h2>1:00</h2></ion-text>
                      </div>
                </div>
              </ion-item>
            </ion-list>
          </div>
          </ion-col>
          <ion-col size="3">
            <div class="moveDragDrop">
              <ion-list>
                <ion-item>
              <ion-reorder slot="end"><ion-icon name="move-outline"></ion-icon></ion-reorder>
            </ion-item>
          </ion-list>
            </div>
          </ion-col>
          <ion-col size="12">
            <div class="saveStatusComplete">
              <ion-list>
                <ion-item>
                  <ion-select interface="popover" class="statusSelect" placeholder="Select Status....">
                    <ion-select-option value="cad">Complete CAD</ion-select-option>
                    <ion-select-option value="cna">Complete CNA</ion-select-option>
                    <ion-select-option value="cus">Complete CUS</ion-select-option>
                    <ion-select-option value="pnd">Complete PND</ion-select-option>
                    <ion-select-option value="pna">Complete PNA </ion-select-option>
                    <ion-select-option class="complete" value="complete">Complete</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

  </div>
</div>


<!-- item 2 -->
<div [routerLink]="['/task']" class="activitiesListContent">
  <div class="activitiesHeadingInfo">
    <ion-grid>
      <ion-row>
        <ion-col size="1" id="activitiesLocation">
          <div class="activitiesLocation">
            <div class="imgLocation">
              <img src="../../assets/images/location.png"/>
              <div class="textLocation">
                <ion-text><h1>B</h1></ion-text>
              </div>
            </div>
          </div>
        </ion-col>
        <ion-col size="8" id="activitiesTitleInfo">
          <div class="activitiesTitleInfo">
            <ion-text><h1>Service Name</h1></ion-text>
            <ion-text><span>Service ID</span></ion-text>
          </div>
        </ion-col>
        <ion-col size="3">
          <div class="activitiesStatusList">
            <ion-text class="close">Close</ion-text>
            <div class="priority">
              <ion-icon name="stats-chart-outline"></ion-icon>
              <ion-text>High </ion-text>
            </div>
          </div>
        </ion-col>
      </ion-row>
      </ion-grid>
  </div>
  <div class="activitiesListInfo">
    <ion-grid>
      <ion-row>
        <ion-col size="9">
          <div class="activitiesList">
            <ion-list>
              <ion-item>
                <div class="activities-ComapnyName">
                  <ion-icon name="home-outline"></ion-icon>
                  <ion-text> Customer Name </ion-text>
                </div>
              </ion-item>
              <ion-item>
                <div class="activities-Location">
                <ion-icon class="location" name="location-outline"></ion-icon>
                <ion-text>Dummyrstraße 66, 13055 Berlin</ion-text>
              </div>
              </ion-item>
              <ion-item>
                <div class="activities-PersonInfo">
                    <div class="activities-PersonName">
                      <ion-icon name="person-circle-outline"></ion-icon>
                      <ion-text>Contact Name</ion-text>
                    </div>
                    <div class="activities-CallInfo">
                      <ion-icon name="call-outline"></ion-icon>
                      <ion-text>+0123456789</ion-text>
                    </div>
              </div>
              </ion-item>
              <ion-item>
                <div class="timingInfo">
                      <div class="timing">
                        <ion-icon name="time-outline"></ion-icon>
                        <ion-text><h2>9:00 - 10:00</h2></ion-text>
                      </div>
                      <div class="totalTiming">
                        <ion-icon name="time-outline"></ion-icon>
                        <ion-text><h2>1:00</h2></ion-text>
                      </div>
                </div>
              </ion-item>
            </ion-list>
          </div>
          </ion-col>
          <ion-col size="3">
            <div class="moveDragDrop">
              <ion-list>
                <ion-item>
              <ion-reorder slot="end"><ion-icon name="move-outline"></ion-icon></ion-reorder>
            </ion-item>
          </ion-list>
            </div>
          </ion-col>
          <ion-col size="12">
            <div class="saveStatusBtn">
              <ion-button size="small">Begin</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>
</div>

<!-- item 3 -->
<div class="activitiesListContent">

  <div class="activitiesHeadingInfo">
    <ion-grid>
      <ion-row>
        <ion-col size="1" id="activitiesLocation">
          <div class="activitiesLocation">
            <div class="imgLocation">
              <img src="../../assets/images/location.png"/>
              <div class="textLocation">
                <ion-text><h1>C</h1></ion-text>
              </div>
            </div>
          </div>
        </ion-col>
        <ion-col size="8" id="activitiesTitleInfo">
          <div class="activitiesTitleInfo">
            <ion-text><h1>Service Name</h1></ion-text>
            <ion-text><span>Service ID</span></ion-text>
          </div>
        </ion-col>
        <ion-col size="3">
          <div class="activitiesStatusList">
            <ion-text class="close">Close</ion-text>
            <div class="priority">
              <ion-icon name="stats-chart-outline"></ion-icon>
              <ion-text>High </ion-text>
            </div>
          </div>
        </ion-col>
      </ion-row>
      </ion-grid>
  </div>
  <div class="activitiesListInfo">
    <ion-grid>
      <ion-row>
        <ion-col size="9">
          <div class="activitiesList">
            <ion-list>
              <ion-item>
                <div class="activities-ComapnyName">
                  <ion-icon name="home-outline"></ion-icon>
                  <ion-text> Customer Name </ion-text>
                </div>
              </ion-item>
              <ion-item>
                <div class="activities-Location">
                <ion-icon class="location" name="location-outline"></ion-icon>
                <ion-text>Dummyrstraße 66, 13055 Berlin</ion-text>
              </div>
              </ion-item>
              <ion-item>
                <div class="activities-PersonInfo">
                    <div class="activities-PersonName">
                      <ion-icon name="person-circle-outline"></ion-icon>
                      <ion-text>Contact Name</ion-text>
                    </div>
                    <div class="activities-CallInfo">
                      <ion-icon name="call-outline"></ion-icon>
                      <ion-text>+0123456789</ion-text>
                    </div>
              </div>
              </ion-item>
              <ion-item>
                <div class="timingInfo">
                      <div class="timing">
                        <ion-icon name="time-outline"></ion-icon>
                        <ion-text><h2>9:00 - 10:00</h2></ion-text>
                      </div>
                      <div class="totalTiming">
                        <ion-icon name="time-outline"></ion-icon>
                        <ion-text><h2>1:00</h2></ion-text>
                      </div>
                </div>
              </ion-item>
            </ion-list>
          </div>
          </ion-col>
          <ion-col size="3">
            <div class="moveDragDrop">
              <ion-list>
                <ion-item>
              <ion-reorder slot="end"><ion-icon name="move-outline"></ion-icon></ion-reorder>
            </ion-item>
          </ion-list>
            </div>
          </ion-col>
          <ion-col size="12">
            <div class="saveStatusBtn">
              <ion-button size="small">Take</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>
</div>

</ion-reorder-group>












</ion-content>
